body {
    font-family: Arial;
    background: #f4f4f4;
    padding: 20px;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.card {
    background: white;
    padding: 10px;
    margin: 10px;
    width: 200px;
    text-align: center;
}

.card img {
    width: 100%;
}
