<!DOCTYPE html>
<html>

<head>
<meta charset="UTF-8">
<title>{{.Artist.Name}}</title>
<link rel="stylesheet" href="/static/style.css">
</head>

<body>

<header class="navbar">

<a href="/" class="back">← Back</a>

</header>

<section class="artist-page">

<div class="artist-header">

<img src="{{.Artist.Image}}" class="artist-img">

<div class="artist-title">

<h1>{{.Artist.Name}}</h1>

<p>First Album: {{.Artist.FirstAlbum}}</p>

<p>Creation Date: {{.Artist.CreationDate}}</p>

</div>

</div>

<div class="artist-grid">

<div class="info-card">

<h2>Members</h2>

<ul>

{{range .Artist.Members}}

<li>{{.}}</li>

{{end}}

</ul>

</div>


<div class="info-card">

<h2>Locations</h2>

<ul>

{{range .Locations}}

<li>{{.}}</li>

{{end}}

</ul>

</div>


<div class="info-card">

<h2>Concert Dates</h2>

<ul>

{{range .Dates}}

<li>{{.}}</li>

{{end}}

</ul>

</div>

</div>

</section>

</body>
</html>
