<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Error {{.Code}}</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body class="error-body">

<div class="error-container">

    <div class="error-card">
        <h1 class="error-code">{{.Code}}</h1>
        <h2 class="error-title">Something went wrong</h2>

        <p class="error-message">
            {{.Message}}
        </p>

        <a href="/" class="btn">Go Home</a>
    </div>

</div>

</body>
</html>
