<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
<title>Groupie Tracker</title>
<link rel="stylesheet" href="/static/style.css">
</head>

<body>

<header class="navbar">

<h1 class="logo">Groupie Tracker</h1>

</header>

<section class="content">

<h2>Artists</h2>

<div class="artists">

{{range .}}

<a href="/artist/{{.ID}}" class="artist-card">

<img src="{{.Image}}" alt="{{.Name}}">

<div class="artist-info">

<h3>{{.Name}}</h3>

<p>{{.FirstAlbum}}</p>

</div>

</a>

{{end}}

</div>

</section>

</body>
</html>